h1, h2, h3, h4, p {
  margin: 0; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

sup {
  line-height: 0; }

input:focus {
  outline: none; }

/* fieldset {
 	border: none;
 }*/
.page-header {
  min-height: 135px;
  outline: 1px solid red; }

.page-header__logo {
  min-height: 85px;
  outline: 1px solid red; }

.visibility-hidden {
  display: none; }

.wrapper {
  width: 280px;
  margin: 0 auto;
  content: "";
  display: table;
  clear: both; }
  @media (min-width: 768px) {
    .wrapper {
      width: 640px; } }
  @media (min-width: 1200px) {
    .wrapper {
      width: 960px; } }

@media (min-width: 768px) {
  .page-header {
    position: relative;
    min-height: 70px;
    padding-bottom: 400px; }
  .page-header__logo {
    position: absolute;
    outline: 1px solid blue;
    min-height: 400px;
    width: 100%;
    bottom: 0; } }

@media (min-width: 1200px) {
  .page-header {
    position: relative;
    min-height: 70px;
    padding-bottom: 650px; }
  .page-header__logo {
    position: absolute;
    outline: 1px solid blue;
    min-height: 650px;
    width: 100%;
    bottom: 0; } }

/*MAIN_NAV*/
.main-nav {
  display: none; }

/*STATISTICS*/
.statistics__promo {
  min-height: 185px;
  text-align: center;
  outline: 1px solid red; }

.statistics__item {
  width: 100%;
  min-height: 80px;
  outline: 1px solid blue; }

@media (min-width: 768px) {
  .statistics__promo {
    min-height: 320px; }
  .statistics-items {
    font-size: 0; }
  .statistics__item {
    min-height: 160px;
    display: inline-block;
    text-align: top;
    width: 50%;
    font-size: 14px;
    line-height: 18px; } }

@media (min-width: 1200px) {
  .statistics__promo {
    float: left;
    min-height: 320px;
    width: 50%; }
  .statistics-items {
    float: right;
    font-size: 0;
    width: 50%; }
  .statistics__item {
    min-height: 160px;
    display: inline-block;
    text-align: top;
    width: 50%;
    font-size: 14px;
    line-height: 18px; } }

/*ADVANTAGES*/
.advantages .wrapper {
  position: relative;
  min-height: 410px;
  outline: 1px solid red; }

.advantages__item {
  min-height: 275px;
  outline: 1px solid blue; }

.advantages__item {
  width: 100%; }

/*.advantages__item--cheap {
	z-index: 100;
}*/
.slider-hidden {
  display: none; }

@media (min-width: 768px) {
  .slider-hidden {
    display: block; }
  .advantages__item {
    min-height: 180px; } }

@media (min-width: 1200px) {
  .slider-hidden {
    display: inline-block; }
  .advantages__item {
    width: 33%;
    min-height: 275px;
    display: inline-block;
    vertical-align: top; }
  .slider__switcher--advantages {
    display: none; } }

/*NEWS*/
.news .wrapper {
  position: relative;
  padding-top: 35px;
  padding-bottom: 35px; }
  .news .wrapper h2 {
    text-align: center; }

.news-item {
  min-height: 130px;
  padding-left: 50px;
  outline: 1px solid blue; }

.news-item:nth-of-type(n+3) {
  display: none; }

.btn--news {
  display: block;
  width: 100%; }

@media (min-width: 768px) {
  .news-item {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    box-sizing: border-box; }
  .btn--news {
    position: absolute;
    right: 0;
    top: 5px;
    width: 160px; } }

@media (min-width: 1200px) {
  .news-item:nth-of-type(n+3) {
    display: inline-block; }
  .news-item {
    display: inline-block;
    width: 33.3%;
    vertical-align: top;
    box-sizing: border-box; }
  .btn--news {
    position: absolute;
    right: 0;
    top: 5px;
    width: 160px; } }

/*REVIEWS*/
.reviews-left,
.reviews-right {
  display: none; }

.reviews .wrapper {
  position: relative;
  min-height: 290px;
  outline: 1px solid red;
  padding-top: 27px; }
  .reviews .wrapper h2 {
    text-align: center;
    margin-bottom: 30px; }

.reviews-item {
  position: absolute;
  padding-left: 70px;
  min-height: 155px;
  outline: 1px solid blue;
  width: 100%;
  box-sizing: border-box;
  opacity: 0;
  z-index: 1; }
  .reviews-item--show {
    opacity: 1;
    z-index: 2; }

.slider__switcher--reviews {
  position: absolute;
  top: 185px;
  left: 50%;
  transform: translateX(-50%); }

@media (min-width: 768px) {
  .reviews .wrapper {
    min-height: 245px; }
  .reviews-left,
  .reviews-right {
    display: block;
    float: left;
    min-height: 160px;
    width: 8%;
    outline: 1px solid red; }
  .reviews-right {
    float: right; }
  .reviews-item {
    display: block;
    min-height: 160px;
    width: 84%;
    padding-left: 0;
    left: 50%;
    transform: translateX(-50%); }
  .reviews {
    text-align: top; } }

@media (min-width: 1200px) {
  .reviews .wrapper {
    min-height: 245px;
    margin-bottom: 100px;
    text-align: top; }
  .reviews-left,
  .reviews-right {
    display: block;
    float: left;
    min-height: 160px;
    width: 50px;
    outline: 1px solid red; }
  .reviews-right {
    float: right; }
  .reviews-item {
    display: block;
    min-height: 160px;
    width: 820px;
    padding-left: 0;
    left: 50%;
    transform: translateX(-50%); } }

/*FOOTER*/
.page-footer {
  padding-top: 35px; }

.page-footer .wrapper {
  content: "";
  display: table;
  clear: both;
  position: relative;
  outline: 1px solid blue; }

.contacts {
  text-align: center;
  margin-bottom: 30px;
  outline: 1px solid blue; }
  .contacts--tel {
    display: block;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 1px solid black; }
  .contacts p {
    padding-left: 30px;
    padding-right: 30px; }

.socials {
  margin-bottom: 30px;
  outline: 1px solid red;
  /*margin: 0 auto;*/ }
  .socials-item {
    display: inline-block;
    width: 32%;
    height: 100px;
    box-sizing: border-box;
    outline: 1px solid blue; }
  .socials p {
    display: none; }

.developed-by {
  text-align: center; }
  .developed-by p {
    margin-bottom: 15px; }
  .developed-by a {
    display: block;
    width: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 1px solid black; }

@media (min-width: 768px) {
  .contacts {
    width: 320px;
    text-align: left;
    padding: 0; }
    .contacts--tel {
      text-align: left;
      border: none;
      padding: 0; }
    .contacts p {
      padding: 0; }
    .contacts h4 {
      margin-bottom: 15px; }
  .developed-by {
    position: absolute;
    width: 160px;
    right: 0;
    top: 0;
    padding: 0; } }

@media (min-width: 1200px) {
  .page-footer {
    padding-top: 50px; }
  .contacts {
    width: 320px;
    float: left;
    margin-right: 80px; }
  .socials {
    width: 160px;
    display: inline-block;
    margin: 0 auto; }
    .socials-item {
      width: 50px;
      height: 50px; }
  .developed-by {
    width: 160px;
    position: static;
    float: right; } }

/*BSHOP-PHOTO*/
.form-content .wrapper {
  position: relative; }

.client-info input {
  display: block;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  box-sizing: border-box; }

.client-info input[type="tel"] {
  margin-top: 33px; }

.client-info input[type="email"] {
  margin-bottom: 34px; }

.client-info textarea {
  width: 100%;
  box-sizing: border-box; }

.beard-select div {
  display: inline-block;
  min-width: 70px;
  min-height: 235px; }

.add-services label {
  display: inline-block; }

.btn--form {
  width: 100%; }

.index-btn {
  display: none; }

@media (min-width: 768px) {
  .client-info {
    font-size: 0; }
  .client-info input[type="text"] {
    width: 33.3%;
    display: inline-block; }
  .add-services label {
    display: inline-block;
    width: 49%; }
  .add-services input {
    display: inline-block; }
  .index-btn {
    display: block;
    position: absolute;
    top: 5px;
    right: 0; } }

@media (min-width: 1200px) {
  .client-info input[type="text"] {
    width: 30%; }
  .client-info input[type="text"]:nth-of-type(1) {
    float: left;
    margin-right: 5%; }
  .client-info input[type="text"]:nth-of-type(2) {
    margin: 0 auto; }
  .client-info input[type="text"]:nth-of-type(3) {
    float: right; }
  .client-info input[type="tel"],
  .client-info input[type="email"] {
    display: inline-block;
    width: 48%; }
  .client-info input[type="tel"] {
    margin-right: 4%; }
  .add-services label {
    display: inline-block;
    width: 33%; } }

/*BSHOP PHOTO*/
