@mixin outline() {
	outline: 1px solid red;
}
@mixin outline-blue() {
	outline: 1px solid blue;
}
@mixin container() {
	width: 280px;
	margin: 0 auto;

	@media (min-width: 768px) {
	width: 640px;
	}

	@media (min-width: 1200px) {
	width: 960px;
	} 

}
@mixin clearfix() {
	content: "";
	display: table;
	clear: both;
}