@import "mixins.scss";
@import "variables.scss";

h1,h2,h3,h4,p {
	margin: 0;
}
a, a:hover {
	text-decoration: none;
	color: auto;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
}
sup { 
	line-height: 0;
 }
 input:focus {
 	outline: none;
 }
 button {
 	border: none;
 	padding: 0;
 }
 button:active {
	outline: none;
  }
/* fieldset {
 	border: none;
 }*/
.page-header {
	min-height: 135px;
	@include outline();
	max-width: 320px;
	margin: 0 auto;

}
.page-header__logo {
		min-height: 85px;
		@include outline();
	}
.visibility-hidden {
	display: none;
}
.wrapper {
	@include container();
	@include clearfix();
}

@media (min-width: 768px) {
	.page-header {
		position: relative;
		min-height: 70px;
		padding-bottom: 400px;
	}
	.page-header__logo {
		position: absolute;
		@include outline-blue();
		min-height: 400px;
		width: 100%;
		bottom: 0;
	}

}
@media (min-width: 1200px) {
	.page-header {
		position: relative;
		min-height: 70px;
		padding-bottom: 650px;
	}
	.page-header__logo {
		position: absolute;
		@include outline-blue();
		min-height: 650px;
		width: 100%;
		bottom: 0;
	}
}





/*MAIN_NAV*/
.main-nav {
	position: relative;
	max-width: 320px;
	margin: 0 auto;
/*	display: none;*/
	background-color: #826550;
	a {
		color: white;
	}

}


.main-nav__item,
.user-block__item {
	background-color: #826550;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 20px;
	padding-right: 20px;
	color: white;
	font-size: 18px;	
}
.main-nav--closed .main-nav__toggle {
	position: absolute;
	width: 70px;
	height: 50px;

	top: 0;
	right: 0;
	z-index: 20;
	background-color: #6a4d38;

}

.main-nav--closed .main-nav__toggle:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 17px;
	width: 36px;
	height: 2px;

	background-color: #ffffff;
	box-shadow: 0 8px 0 0 #ffffff,
				0 16px 0 0 #ffffff;
}


.main-nav--opened ul {
	position: relative;
	width: 250px;
	left: 70px;
}
.main-nav--opened .main-nav__toggle {
	position: absolute;
	width: 70px;
	height: 50px;

	top: 0;
	left: 0px;
	z-index: 20;
	background-color: #6a4d38;

}

.main-nav--opened .main-nav__toggle:before {
	content: "";
	position: absolute;
	top: 15px;
	left: 17px;
	width: 36px;
	height: 2px;

	background-color: #ffffff;
	box-shadow: 0 8px 0 0 #ffffff,
				0 16px 0 0 #ffffff;
}







.main-nav--no-js {

}
.main-nav--open {

}
.main-nav--closed li:not(.main-nav__item--active) {
	display: none;
}





/*STATISTICS*/

.statistics__promo {
	min-height: 185px;
	text-align: center;
	@include outline();
}
.statistics-items {
	
}
.statistics__item {
	width: 100%;
	min-height: 80px;
	@include outline-blue();
}
@media (min-width: 768px) {
	.statistics__promo {
		min-height: 320px;
	}
	.statistics-items {
	    font-size: 0;
}
	.statistics__item {
		min-height: 160px;
		display: inline-block;
		text-align: top;
		width: 50%;
		font-size: 14px;
		line-height: 18px;
	}
}
@media (min-width: 1200px) {
	.statistics__promo {
		float: left;
		min-height: 320px;
		width: 50%;
	}
	.statistics-items {
		float: right;
	    font-size: 0;
	    width: 50%;
}
	.statistics__item {
		min-height: 160px;
		display: inline-block;
		text-align: top;
		width: 50%;
		font-size: 14px;
		line-height: 18px;
	}
}




/*ADVANTAGES*/
.advantages .wrapper {
	position: relative;
	min-height: 410px;
	@include outline();
}
.advantages__item {
	min-height: 275px;
	@include outline-blue();
}
.advantages__item {
	width: 100%;
}
/*.advantages__item--cheap {
	z-index: 100;
}*/
.slider-hidden {
	display: none;
}
@media (min-width: 768px) {
	.slider-hidden {
		display: block;
}
	.advantages__item {
		min-height: 180px;
	}
}
@media (min-width: 1200px) {
	.slider-hidden {
		display: inline-block;
}
	.advantages__item {
		width: 33%;
		min-height: 275px;
		display: inline-block;
		vertical-align: top;

}
	.slider__switcher--advantages  {
		display: none;
	}
}



/*NEWS*/
.news .wrapper {
	position: relative;
	padding-top: 35px;
	padding-bottom: 35px;
	& h2 {
		text-align: center;
	}
}
.news-item {	
	min-height: 130px;
	padding-left: 50px;
	@include outline-blue();
}
.news-item:nth-of-type(n+3) {
	display: none;
}
.btn--news {
	display: block;
	width: 100%;
}
@media (min-width: 768px) {
	.news-item {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		box-sizing: border-box;
	}
	.btn--news {
		position: absolute;
		right: 0;
		top: 5px;
		width: 160px;
	}
}

@media (min-width: 1200px) {
	.news-item:nth-of-type(n+3) {
		display: inline-block;
}
	.news-item {
		display: inline-block;
		width: 33.3%;
		vertical-align: top;
		box-sizing: border-box;
	}
	.btn--news {
		position: absolute;
		right: 0;
		top: 5px;
		width: 160px;
	}

}







/*REVIEWS*/
.reviews-left,
.reviews-right,
 {
	display: none;
}
.reviews .wrapper{
	position: relative;
	min-height: 290px;
	@include outline();
	padding-top: 27px;
	& h2 {
		text-align: center;
		margin-bottom: 30px;
	}
}
.reviews-item {
	position: absolute;
	padding-left: 70px;
	min-height: 155px;
	@include outline-blue();
	width: 100%;
	box-sizing: border-box;
	opacity: 0;
	z-index: 1;
	&--show {
		opacity: 1;
		z-index: 2;
	}
}
.slider__switcher--reviews {
	position: absolute;
	top: 185px;
	left: 50%;
	transform: translateX(-50%);
}


@media (min-width: 768px) {
.reviews .wrapper {
	min-height: 245px;
}
.reviews-left,
.reviews-right
 {
	display: block;
	float: left;
	min-height: 160px;
	width: 8%;
	@include outline();
}
.reviews-right {
	float: right;
}
.reviews-item {
	display: block;
	min-height: 160px;
	width: 84%;
	padding-left: 0;
	left: 50%;
	transform: translateX(-50%);
}
.reviews {
	text-align: top;
}
}

@media (min-width: 1200px) {
.reviews .wrapper {
	min-height: 245px;
	margin-bottom: 100px;
	text-align: top;
}
.reviews-left,
.reviews-right
 {
	display: block;
	float: left;
	min-height: 160px;
	width: 50px;
	@include outline();
}
.reviews-right {
	float: right;
}
.reviews-item {
	display: block;
	min-height: 160px;
	width: 820px;
	padding-left: 0;
	left: 50%;
	transform: translateX(-50%);
}

}



/*FOOTER*/
.page-footer {
	padding-top: 35px;
}
.page-footer .wrapper {
	@include clearfix();
	position: relative;
	@include outline-blue();
}
.contacts {
	text-align: center;
	margin-bottom: 30px;
	@include outline-blue();
	&--tel {
		display: block;
		width: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		border: 1px solid black;
	}
	& p {
		padding-left: 30px;
		padding-right: 30px;
	}
}
.socials {
	margin-bottom: 30px;
	@include outline();
	/*margin: 0 auto;*/
	&-item {
		display: inline-block;
		width: 32%;
		height: 100px;
		box-sizing: border-box;
		@include outline-blue();
	}
	& p {
		display: none;
	}
}
.developed-by {
	text-align: center;
	& p {
		margin-bottom: 15px;
	}
	& a {
		display: block;
		width: auto;
		padding-top: 15px;
		padding-bottom: 15px;
		text-align: center;
		border: 1px solid black;
	}
}
@media (min-width: 768px) {
	.contacts {
		width: 320px;
		text-align: left;
		padding: 0;
		&--tel {
			text-align: left;
			border: none;
			padding: 0;
		}
		& p {
			padding: 0;
		}
		& h4 {
			margin-bottom: 15px;
		}
	}
	.developed-by {
		position: absolute;
		width: 160px;
		right: 0;
		top: 0;
		padding: 0;
	}
}
@media (min-width: 1200px) {
	.page-footer {
		padding-top: 50px;
	}
	.contacts {
		width: 320px;
		float: left;
		margin-right: 80px; 
	}
	.socials {
		width: 160px;
		display: inline-block;
		margin: 0 auto;
		&-item {
			width: 50px;
			height: 50px;
		}
	}
	.developed-by {
		width: 160px;
		position: static;
		float: right;
	}

}










/*BSHOP-FORM*/
.form-content .wrapper {
	position: relative;
}
.client-info input {
	display: block;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
	box-sizing: border-box;
}
.client-info input[type="tel"] {
	margin-top: 33px;
}
.client-info input[type="email"] {
	margin-bottom: 34px;
}
.client-info textarea {
	width: 100%;
	box-sizing: border-box;
}
.beard-select div {
	display: inline-block;
	min-width: 70px;
	min-height: 235px;
}
.add-services label {
	display: inline-block;
}
.btn--form {
	width: 100%;
}
.index-btn {
	display: none;
}
@media (min-width: 768px) {
	.client-info {
		font-size: 0;
	}
	.client-info input[type="text"] {
		width: 33.3%;
		display: inline-block;
	}
	.add-services label {
		display: inline-block;
		width: 49%; 
	}
	.add-services input {
		display: inline-block;
	}
	.index-btn {
		display: block;
		position: absolute;
		top: 5px;
		right: 0;
	}
}


@media (min-width: 1200px) {
	.client-info input[type="text"] {
		width: 30%;
	}
	.client-info input[type="text"]:nth-of-type(1) {
		float: left;
		margin-right: 5%;
	}
	.client-info input[type="text"]:nth-of-type(2) {
		margin: 0 auto;
	}
	.client-info input[type="text"]:nth-of-type(3) {
		float: right;
	}
	.client-info input[type="tel"],
	.client-info input[type="email"] {
		display: inline-block;
		width: 48%;
	}
	.client-info input[type="tel"] {
		margin-right: 4%;
	}
	.add-services label {
		display: inline-block;
		width: 33%; 
	}
}










/*BSHOP PHOTO*/	


/*WORKS*/
.works {
	position: relative;
}
.works__item {
	min-height: 340px;
	@include outline();
	&--month-best {
		min-height: 750px;
	}
}
.index-btn {
	display: none;
}
@media (min-width: 768px) {
	.index-btn {
		display: block;
		position: absolute;
	}
	.works__item {
		padding-left: 320px;
	}
	.works__item img {
		float: left;
	}
}
@media (min-width: 1200px) {
	.works {
		@include clearfix();
	}
	.works__item:nth-of-type(n+1) {
		width: 295px;
		display: inline-block;
		padding-left: 0;
		vertical-align: top;
		}
	.works__item:first-of-type {
		width: auto;
		padding-left: 480px;
	}
	.works__item:nth-of-type(2) {
		float: left;
		margin-right: 4%;
	}
	.works__item:nth-of-type(4) {
		float: right;
	}

}




/*PRICES*/
.prices__table {
	display: table;
	width: 100%;
	text-align: center;
}
@media (min-width: 768px) {}
@media (min-width: 1200px) {}
