@import "mixins.scss";
@import "variables.scss";

h1,h2,h3,h4,p {
	margin: 0;
}
ul,li {
	margin: 0;
	padding: 0;
	list-style: none;
}
body {
}
sup { 
	line-height: 0;
 }
 
.page-header {
	min-height: 135px;
	@include outline();

}
.page-header__logo {
		min-height: 85px;
		@include outline();
	}
.visibility-hidden {
	display: none;
}
.wrapper {
	@include container();
	@include clearfix();
}

@media (min-width: 768px) {
	.page-header {
		position: relative;
		min-height: 70px;
		padding-bottom: 400px;
	}
	.page-header__logo {
		position: absolute;
		@include outline-blue();
		min-height: 400px;
		width: 100%;
		bottom: 0;
	}

}
@media (min-width: 1200px) {
		.page-header {
		position: relative;
		min-height: 70px;
		padding-bottom: 650px;
	}
	.page-header__logo {
		position: absolute;
		@include outline-blue();
		min-height: 650px;
		width: 100%;
		bottom: 0;
	}
}

/*MAIN_NAV*/
.main-nav {
	display: none;
}
/*STATISTICS*/

.statistics__promo {
	min-height: 185px;
	@include outline();
}
.statistics-items {
	
}
.statistics__item {
	width: 100%;
	min-height: 80px;
	@include outline-blue();
}
@media (min-width: 768px) {
	.statistics__promo {
		min-height: 320px;
	}
	.statistics-items {
	    font-size: 0;
}
	.statistics__item {
		min-height: 160px;
		display: inline-block;
		text-align: top;
		width: 50%;
		font-size: 14px;
		line-height: 18px;
	}
}
@media (min-width: 1200px) {
	.statistics__promo {
		float: left;
		min-height: 320px;
		width: 50%;
	}
	.statistics-items {
		float: right;
	    font-size: 0;
	    width: 50%;
}
	.statistics__item {
		min-height: 160px;
		display: inline-block;
		text-align: top;
		width: 50%;
		font-size: 14px;
		line-height: 18px;
	}
}

/*ADVANTAGES*/
.advantages {
	position: relative;
	min-height: 410px;
	@include outline();
}
.advantages__item {
	min-height: 275px;
	@include outline-blue();
}
.advantages__item {
	width: 100%;
}
/*.advantages__item--cheap {
	z-index: 100;
}*/
.slider-hidden {
	display: none;
}
@media (min-width: 768px) {
	.slider-hidden {
		display: block;
}
	.advantages__item {
		min-height: 180px;
	}
}
@media (min-width: 1200px) {
	.slider-hidden {
		display: inline-block;
}
	.advantages__item {
		width: 33%;
		min-height: 275px;
		display: inline-block;
		vertical-align: top;

}
	.slider__switcher  {
		display: none;
	}
}
/*NEWS*/
.news {
	position: relative;
}
.news-item {	
	min-height: 130px;
	padding-left: 50px;
	@include outline-blue();
}
.news-item:nth-of-type(n+3) {
	display: none;
}
.btn--news {
	display: block;
	width: 100%;
}
@media (min-width: 768px) {
	.news-item {
		display: inline-block;
		width: 50%;
		vertical-align: top;
		box-sizing: border-box;
	}
	.btn--news {
		position: absolute;
		right: 0;
		top: 5px;
		width: 160px;
	}
}

@media (min-width: 1200px) {
	.news-item:nth-of-type(n+3) {
		display: inline-block;
}
	.news-item {
		display: inline-block;
		width: 33.3%;
		vertical-align: top;
		box-sizing: border-box;
	}
	.btn--news {
		position: absolute;
		right: 0;
		top: 5px;
		width: 160px;
	}

}
/*REVIEWS*/
.reviews-left,
.reviews-right {
	display: none;
}